*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Blackadder ITC";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    width: 100px;
    height: 100px;
}

h1{
    font-size: 85px;
}

button {
    background: none;
    border: none;
    margin: 25px;
}

#choose {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p{
    font-size: 55px;
    font-family: "Franklin Gothic, serif", serif;
}

.comp{
    display: flex;
    flex-direction: row;
    margin: 60px;
}